{% extends 'tienda/base.html' %}

{% block content %}
<!-- HERO SECTION -->
<div style="text-align: center; padding: 60px 0; border-bottom: 2px solid var(--secundario); margin-bottom: 40px;">
    <h1 style="font-size: 3.5rem; margin-bottom: 10px; color: var(--secundario);">VINILOS EL SURCO</h1>
    <p style="font-size: 1.3rem; color: #666; font-family: 'Playfair Display', serif; font-style: italic;">
        "La música se ve mejor cuando gira."
    </p>
    <a href="{% url 'catalogo' %}" class="btn" style="display: inline-block; margin-top: 25px; padding: 15px 30px; font-size: 1.1rem;">
        VER CATÁLOGO COMPLETO
    </a>
</div>

<!-- NOVEDADES -->
<h2 style="color: var(--secundario); margin-bottom: 20px;">Últimos Arribos</h2>

<div class="grid-discos">
    {% for disco in discos %}
        <div class="card-disco">
            <div class="card-img-container">
                <!-- LÓGICA HÍBRIDA -->
                {% if disco.imagenPortada %}
                    <img src="{{ disco.imagenPortada.url }}" alt="{{ disco.tituloDisco }}">
                {% elif disco.imagenUrl %}
                    <img src="{{ disco.imagenUrl }}" alt="{{ disco.tituloDisco }}">
                {% else %}
                    <div style="width:100%; height:100%; display:flex; align-items:center; justify-content:center; background:#eee; color:#aaa;">
                        <span style="font-size:3rem;">♫</span>
                    </div>
                {% endif %}
            </div>
            
            <div class="card-body">
                <h3 style="font-size: 1.1rem; margin-bottom: 5px;">{{ disco.tituloDisco }}</h3>
                <p style="margin: 0; font-size: 0.9rem; color: #555;">{{ disco.artistaPrincipal }}</p>
                <p style="font-weight: bold; margin-top: 10px; color: var(--acento);">${{ disco.precioUnitario }}</p>
                <a href="{% url 'agregar_carrito' disco.id %}" class="btn" style="margin-top: 5px; font-size: 0.8rem; display: block;">
                    AÑADIR
                </a>
            </div>
        </div>
    {% empty %}
        <p>No hay discos nuevos por el momento.</p>
    {% endfor %}
</div>
{% endblock %}
